<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark px-5">
    <a class="navbar-brand" href="{% url 'posts:list' %}">
        <i class="fab fa-instagram"> | Instagram</i>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarNavAltMarkup">
        <div></div>
        <div class="navbar-nav">
            
            <li class="nav-item">
                <span class="nav-text text-light"> {{user.username }}님 반갑습니다.</span>
            </li>
        </div>
        <div class="navbar-nav">
            <li class="nav-item">
                <a href="{% url 'posts:create' %}" class="nav-link">New</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a href="{% url 'people' user.username %}" class="nav-link">MyPage</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'accounts:edit' %}" class="nav-link">회원정보수정</a>
            </li>
            <!-- <li class="nav-item">-->
            <!--    <a href="{# url 'accounts:logout' #}" class="nav-link">로그아웃</a>-->
            <!--</li>-->
            <!-- <li class="nav-item">-->
            <!--    <a href="{# url 'accounts:delete' #}" class="nav-link">회원탈퇴</a>-->
            <!--</li>-->
            <form class="nav-item" action="{% url 'accounts:logout' %}" method="POST">
                {% csrf_token %}
                <button class="nav-link btn btn-info" type="submit">Logout</button>
            </form>
            <form class="nav-item" action="{% url 'accounts:delete' %}" method="POST" onsubmit="return confirm('정 말탈 퇴?');">
                {% csrf_token %}
                <button class="nav-link btn btn-danger" type="submit">탈퇴</button>
            </form>
            {% else %}
            <li class="nav-item">
                <a href="{% url 'accounts:signup' %}" class="nav-link">SignUp</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'accounts:login' %}" class="nav-link">Login</a>
            </li>
            {% endif %}
        </div>
    </div>
</nav>