{% load bootstrap4 %}
<div class="col-5 my-3">
    <div id="{{ post.id }}"class="card">    <!-- 여기 나오는 모든 post는 list에서 posts를 for문으로 돌리는 변수 post이다-->
                            <!--list.html에서 for문 변수명을 test로 바꾸고 여기 모든 post를 test로 바꿔도 동작한다.-->
    <div class="card-header">
        <h5 class="card-text">{{ post.user }}</h5>
    </div>
        {% if post.image_set %}
        <div id="post{{post.pk}}" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                {% for image in post.image_set.all %}
                <div class="carousel-item {% if forloop.counter == 1 %} active {% endif %}">
                    <img src="{{ image.file.url }}" class="d-block w-100" alt="{{ image.file }}">
                </div>
                {% endfor %}
            
            <a class="carousel-control-prev" href="#post{{post.pk}}" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#post{{post.pk}}" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
            </div>
        </div>
        {% else %}
        <img src="{{ image.file.url }}" class="card-img-top" alt="NMG">
        {% endif %}
        <div class="d-flex align-items-center card-body">
            <h5 class="card-text">
                <a href="{% url 'posts:detail' post.id %}">{{ post.content }}</a>
            </h5>
            {% if request.user == post.user %}
            <a href="{% url 'posts:update' post.pk %}" class="btn btn-warning"> [EDIT] </a>
            <!-- 의문1 post.pk와 post_pk는 무슨차이일까?-->
            <!-- 내생각 : post.pk는 post클래스 안의 속성 pk이고
                          post_pk(url이나 뷰함수에 있는것)은 들어오는 정수형변수의 이름이다.
                          즉 post_pk는 아무렇게나 써도 되는 이름이고 post.pk는 클래스의 정해진 속성이다.-->
            <form action="{% url 'posts:delete' post.pk %}" method="POST" onsubmit="return confirm('R e a l l y ?');" style="display:inline">
                {% csrf_token %}
                <input type="submit" value="[DELETE]" class="btn btn-danger" />
            </form>
            {% endif %}
        </div>
        
        
        <div class="card-footer">
            {% if user.is_authenticated %}
            <form class="d-flex align-items-start justify-content-around" 
                action="{% url 'posts:comments_create' post.id %}" method="POST">
                {% csrf_token %}
                {% bootstrap_form form %}
                <button class="btn btn-primary" type="submit">댓글</button>
            </form>
            {% else %}
            <a href="{% url 'accounts:login' %}">댓글달려면 로그인하세요</a>
            
            {% endif %}
            <hr>
            {% for comment in post.comment_set.all %}
                <div class="d-flex align-items-center m-3">
                    <span style="font-weight: bold;">{{ comment.user }}</span>&nbsp;/&nbsp;{{ comment.content }}
                    {% if comment.user == user %}
                    <form class="mx-2" action="{% url 'posts:comments_delete' post.id comment.id %}" method="post">
                        {% csrf_token %}
                        <button class="border-0" type="submit"><i class="fas fa-times"></i></button>
                    </form>
                    {% endif %}
                </div>
            
            {% endfor %}
        </div>
    </div>
</div>
