{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
                                                        <!--메인(list.html)에서 글작성을 눌렀을 때, 이 form.html페이지가 뜬다.  -->
{% if request.resolver_match.url_name == 'create' %} <!-- 똑같은 창인데 url명이 create면, NEW가 뜨고 -->
<h1>NEW</h1>
{% else %}                                            <!-- 아니면 EDIT라고 뜸. -->
                                        <!-- 뷰함수 update와 create 두개가 다 form.html로 render하기 때문에 분기를 나눔 -->
<h1> EDIT </h1>
{% endif %}
<form action="" method="POST" enctype="multipart/form-data"> <!--multipart가 없어도 여러장 선택이 된다. 이 역할은 뭘까? 
                                                                                     = > 이미지 올릴때 필요하다.-->
    {% csrf_token %}                                          <!--action이 자신이면 submit하면 자신의링크(views.py에서 정의된)로 보낸다 -->
    {% bootstrap_form post_form %}                             <!-- action이 자기자신이 아니라 url posts:list면 저장이안된다. 왜지.
                                                                A: 그러면 list로 보내는게 아니라 list url로 이동하는기에 view함수 create로 들어가는게 아니라
                                                                 list로 들어간다. 즉, 홈버튼과 같아짐.-->
    {% if image_form %}
        {% bootstrap_form image_form show_label=False %}
    {% endif %}
    <button type="submit" class="btn btn-primary"> SUBMIT</button>
    <button type="reset" class="btn btn-outline-primary"> Cancel</button>
    <a href="{% url 'posts:list' %}" class='btn btn-info'>BACK</a>
</form>

{% endblock %}
